@font-face {
  font-family: "Cera Round Pro DEMO Regular";
  src: url("https://db.onlinewebfonts.com/t/d642a55bac4df71e7c87a9394df80363.eot");
  src: url("https://db.onlinewebfonts.com/t/d642a55bac4df71e7c87a9394df80363.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d642a55bac4df71e7c87a9394df80363.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/d642a55bac4df71e7c87a9394df80363.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/d642a55bac4df71e7c87a9394df80363.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/d642a55bac4df71e7c87a9394df80363.svg#Cera Round Pro DEMO Regular")
      format("svg");
}
